/* .body{
    margin: 0;
    padding: 0;
}

.search{
    padding: 100px;
    padding-top: 35px;
}
.wehorsecontainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "horselogo c d e";
    border-top: 10px;
}
.wehorselogo{
    display: grid;
    grid-area: horselogo;
    margin-top: 15px;
} */