body{
    padding: 0;
    margin: 0;
    
}

html {
    scroll-behavior: smooth;
    
}
#thiss{
    display: none;
}
.show{
    display: none;
}
.topnav{
    display: none;
}
.bghead{
    /*background-color: #2e323b !important;*/
    background-color: #0e1c26!important;
}
.qr{
    background-color: #414e59 !important;
}
/* .mainwrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "mainwrap";
} */
.wrapper {
    height: auto;
    display: grid;
    /* grid-area: mainwrap; */
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "header" "menus" "content1" "announce" "content2" "content3" "footer";
    border-top: 10px;
}

.header{
    display: grid;
    grid-area: header;
    grid-template-columns: auto auto  auto auto;
    grid-template-rows: auto;
    grid-template-areas: "logo emp  login country";
    grid-column-gap: 10px;
    background-color: #2E323B;
    /* padding-left: 15%;
    padding-right: 15%; */

}
.header-logo{
    display: grid;
    grid-area: logo;
    padding-top: 15%;
}
    /* .header-logo > img{
        height: 300px;
        background-color: red;
    } */
.header-search{
    display: grid;
    grid-area: search;
    margin-top: 40px;
}

.header-login{
    display: grid;
    grid-area: login;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: "inputbox buttons";
    grid-column-gap: 10px;
}
.header-login-input{
    display: grid;
    grid-area: inputbox;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "toparea" "forgotpw";
    margin-top: 40px;
}
.header-login-input-box{
    display: grid;
    grid-area: toparea;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "un pw";
    grid-column-gap: 2px;
}
.header-login-un{
    display: grid;
    grid-area: un;
}
.header-login-pw{
    display: grid;
    grid-area: pw;
}
.header-login-fgpw{
    display: grid;
    grid-area: forgotpw;
    text-align: center;
    padding-bottom: 5%;
}
    .header-login-fgpw > a{
        text-decoration: underline;
        color: #9a9999;
    }
    .header-login-fgpw :hover{
        color: #b8ae2e;
        text-decoration: none;
    }
.header-login-buttons{
    display: grid;
    grid-area: buttons;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "loginbutton joinbutton";
    grid-column-gap: 5px;
}
.header-login-buttons-login{
    display: grid;
    grid-area: loginbutton;
    margin-top: 39px;
}
    .header-login-buttons-login > button{
        height: 35px;
        width: auto;
        background-color: #256d28;
        border-radius: 5.2px;
        border-color: #fff7e7;
        box-shadow: 0px 2.56756px 2.56756px rgba(0, 0, 0, 0.9);

    }

.header-login-buttons-join{
    display: grid;
    grid-area: joinbutton;
    margin-top: 39px;

}
    .header-login-buttons-join > button{
        height: 35px;
        width: auto;
        background-color: #aba773;
        border-radius: 5.2px;
        border-color: #fff7e7;
        box-shadow: 0px 2.56756px 2.56756px rgba(0, 0, 0, 0.9);

    }
.header-country{
    display: grid;
    grid-area: country;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas: "selectcountry";
    /* grid-template-areas: "countryicon countryname"; */
    padding-left: 10%;
}
/* .header-country-icon{
    display: grid;
    grid-area: countryicon;
    margin-top: 35px;
    margin-left: 10px;
    padding-left: 10%;
}
    .header-country-icon > img{
        width: 50px;
        height: 50px;
    }
.header-country-cname{
    display: grid;
    grid-area: countryname;
    margin-top: 45px;
} */
.header-select{
    display: grid;
    grid-area: selectcountry;
    padding-bottom: 45%;
    padding-top: 40%;
}
    .header-select > select{
        background-color: transparent;
        
    }
.menu{
    height: auto;
    display: grid;
    grid-area: menus;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "menu0 menu1 menu2 menu3 menu4 menu5 menu6 menu7 searchs";
    border-top: 10px;
    grid-column-gap: 10px;
    background-color: #414E59;
    padding-left: 21%;
    padding-right: 23.5%;
    height: 50px;
    color:white;
    padding-top: 7px;
  
}
/* .active {
    background-color: #F00;
  } */
.menu-home{
    display: grid;
    grid-area: menu0;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    grid-template-areas: "Hicon Htext";

}
.menu-home-icon{
    display: grid;
    grid-area: Hicon;
    padding-top: 10px;
}
.menu-home-text{
    display: grid;
    grid-area: Htext;
    /* padding-top: 6px; */
}
    .menu-home-text >  a> h6{
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        font-size: 15px;
    }
    .menu-home :hover{
        color: #b8ae2e;
        text-decoration: none;
    }

.menu-schedule{
    display: grid;
    grid-area: menu1;

}
    .menu-schedule :hover{
        color: #b8ae2e;
        text-decoration: none;
    }
    .menu-schedule > h6{
        text-align: center;
    }
    

.menu-livestream{
    display: grid;
    grid-area: menu2;

}
    .menu-livestream :hover{
        color: #b8ae2e;
        text-decoration: none;
    }
    .menu-livestream > h6{
        text-align: center;
    }
    .menu-livestream > a >h6{
        text-decoration: none;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        font-size: 15px;
    }
.menu-horsebet{
    display: grid;
    grid-area: menu3;

}
    .menu-horsebet :hover{
        color: #b8ae2e;
        text-decoration: none;
    }
    .menu-horsebet > h6{
        text-align: center;
    }
    .menu-horsebet > a >h6{
        text-decoration: none;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        font-size: 15px;
    }
.menu-horsecard{
    display: grid;
    grid-area: menu4;

}
    .menu-horsecard :hover{
        color: #b8ae2e;
        text-decoration: none;
    }
    .menu-horsecard > h6{
        text-align: center;
    }
    .menu-horsecard > a >h6{
        text-decoration: none;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        font-size: 15px;
    }
.menu-testimonial{
    display: grid;
    grid-area: menu5;

}
    .menu-testimonial :hover{
        color: #b8ae2e;
        text-decoration: none;
    }
    .menu-testimonial > h6{
        text-align: center;
    }
    .menu-testimonial > a >h6{
        text-decoration: none;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        font-size: 15px;
    }

.menu-blog{
    display: grid;
    grid-area: menu6;


}
    .menu-blog :hover{
        color: #b8ae2e;
        text-decoration: none;
    }
    .menu-blog > h6{
        text-align: center;
    }
    .menu-blog > a >h6{
        text-decoration: none;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        font-size: 15px;
    }
.menu-horseracingaccount{
    display: grid;
    grid-area: menu7;

}
    .menu-horseracingaccount :hover{
        color: #b8ae2e;
        text-decoration: none;
    }
    .menu-horseracingaccount > h6{
        text-align: center;
    }
    .menu-horseracingaccount > a >h6{
        text-decoration: none;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        font-size: 15px;
    }
.menu-search{
    display: grid;
    grid-area: searchs;
}

.wehorsecontent{
    display: grid;
    grid-area: content1;
    grid-template-columns: auto ;
    grid-template-rows: auto;
    grid-template-areas: "wehorsecontent";
}
.wehorsecontent-content1{
    display: grid;
    grid-area: wehorsecontent;
    grid-template-rows: auto;
    grid-template-columns: auto ;
    grid-template-areas: "caro";
}
.webhorsecontent-carousel{
    display: grid;
    grid-area: caro;
}
.weschedule{
    display: grid;
    grid-area: wehorsecontent;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "scheduleimg" "scheduleimg1";
}
.weschedule-img{
    display: grid;
    grid-area: scheduleimg;
}
    .weschedule-img > img{
        width: 100%;
    }
.weschedule-img2{
    display: grid;
    grid-area: scheduleimg1;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "sched" "schedcontainer";
}
.weschedule-container-head{
    display: grid;
    grid-area: sched;
    grid-template-columns: auto 40% auto auto;
    grid-template-rows: auto;
    grid-template-areas: "monthss mmm list lm";
    /* padding-left: 15%;
    padding-right: 15%; */
}
.weschedule-container-head-month{
    display: grid;
    grid-area: monthss;
}
.weschedule-container-head-list{
    display: grid;
    grid-area: list;
}
    .weschedule-container-head-list > h4{
        font-weight: bolder;
    }
    .weschedule-container-head-list  :hover{
        color: gold
    }
.weschedule-container-head-lm{
    display: grid;
    grid-area: lm;
}
.weschedule-container{
    display: grid;
    grid-area: schedcontainer;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "a b c d" " e f g h";
    padding-left: 15%;
    padding-right: 15%;
    border: 1px red;
    border-radius: 10px;
    
}
.weschedule-container-a{
    display: grid;
    grid-area: a;
    margin-left: 15px;
    margin-top: 15px;
    /* padding-left: 10%; */
}
    .schedzoom{
        /* height: 250px; */
    }
    .schedzoom:hover {
        -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1);
        transform: scale(1.1); 
    }

    .imzoom{
        /* height: 250px; */
    }
    .imzoom:hover {
        -ms-transform: scale(1.2); 
        -webkit-transform: scale(1.2);
        transform: scale(1.2); 
    }
    .imszoom{
        /* height: 250px; */
    }
    .imszoom:hover {
        -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1);
        transform: scale(1.1); 
    }
.weschedule-container-b{
    display: grid;
    grid-area: b;
    margin-top: 15px;
    /* padding-left: 10%; */
}
.weschedule-container-c{
    display: grid;
    grid-area: c;
    margin-top: 15px;
    /* padding-left: 10%; */
}
.weschedule-container-d{
    display: grid;
    grid-area: d;
    margin-top: 15px;
    /* padding-left: 10%; */
}
.weschedule-container-e{
    display: grid;
    grid-area: e;
    margin-left: 15px;
    /* padding-left: 10%; */
}
.weschedule-container-f{
    display: grid;
    grid-area: f;
    /* padding-left: 10%; */
}
.weschedule-container-g{
    display: grid;
    grid-area: g;
    /* padding-left: 10%; */
}
.weschedule-container-h{
    display: grid;
    grid-area: h;
    /* padding-left: 10%; */
}
.wehorselivestream{
    display: grid;
    grid-area: wehorsecontent;
    grid-template-columns: auto 30%;
    grid-template-rows: auto auto;
    grid-template-areas: "livefeed chatbox" "list channel";
    /* padding-left: 15%;
    padding-right: 15%; */
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    padding-bottom: 3%;
    padding-top: 1%;
}
.wehorselivestream-livefeed{
    display: grid;
    grid-area: livefeed;
}
    .wehorselivestream-livefeed > iframe{
        width: 100%;
        height: 500px;
    }
.wehorselivestream-chatbox{
    display: grid;
    grid-area: chatbox;
}
.wehorselivestreamlist-list{
    display: grid;
    grid-area: list;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "lista listb" "listc listd";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    .lvstrm{
        text-align: center;
        color: white;
 
    }
.wehorselivestreamlist-lista{
    display: grid;
    grid-area: lista;
}
.wehorselivestreamlist-listb{
    display: grid;
    grid-area: listb;
}
.wehorselivestreamlist-listc{
    display: grid;
    grid-area: listc;
}
.wehorselivestreamlist-listd{
    display: grid;
    grid-area: listd;
}
.wehorselivestreamchannel-list{
    display: grid;
    grid-area: channel;
}
.wehorsebettingtips{
    display: grid;
    grid-area: wehorsecontent;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas: "bettip" "betguide";
    /* padding-right: 15%;
    padding-left: 15%; */
}
.wehorsebettingtips-tip{
    display: grid;
    grid-area: bettip;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: "bettip1" "bettip2" "bettip3";
    grid-row-gap: 50px;
    padding-right: 15%;
    padding-left: 15%;
}
    
.wehorsebettingtips-tipvideo{
    display: grid;
    grid-area: bettip1;
}
    .wehorsebettingtips-tipvideo > iframe{
        width: 100%;
        height: 500px;
    }
.wehorsebettingtips-tipvideo-1{
    display: grid;
    grid-area: bettip2;
    grid-template-rows: auto ;
    grid-template-columns: auto auto auto;
    grid-template-areas: "b1 b2 b3";
    grid-column-gap: 30px;
    padding-top: 2%;
}
.wehorsebettingtips-b1{
    display: grid;
    grid-area: b1;
    padding-left: 2%;
}
.wehorsebettingtips-b2{
    display:grid;
    grid-area: b2;
    padding-left: 2%;
}
.wehorsebettingtips-b3{
    display: grid;
    grid-area: b3;
    padding-left: 2%;
}
.wehorsebettingtips-nav{
    display: grid;
    grid-area: bettip3;
    grid-template-rows: auto ;
    grid-template-columns: auto;
    padding-left: 30%;
    padding-right: 30%;
}
.wehorsebettingtips-guide{
    display: grid;
    grid-area: betguide;
    grid-template-rows: auto ;
    grid-template-columns: auto auto ;
    grid-template-areas: "guide guideimg";
    background-image: url("../images/bg-guide.png");
    background-repeat: no-repeat;
    background-size: 100% 600px;
    padding-left: 15%;
    padding-right: 15%;
}
.wehorsebettingguide{
    display: grid;
    grid-area: guide;
    grid-template-rows: auto auto;
    grid-template-columns: 40% 40% ;
    grid-template-areas: "g1 g2" "g3 g4";
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding-bottom: 8%;
    padding-top:15%
}
.wehorsebettingguide-ga{
    display: grid;
    grid-area: g1;
}
.wehorsebettingguide-gb{
    display: grid;
    grid-area: g2;
}
.wehorsebettingguide-gc{
    display: grid;
    grid-area: g3;
}
.wehorsebettingguide-gd{
    display: grid;
    grid-area: g4;
}
.wehorsebettingguide-img{
    display: grid;
    grid-area: guideimg;
    padding-top: 20%;
}
.wehorsehorsecard{
    display: grid;
    grid-area: wehorsecontent;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "horsecardcontainer";
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
   
}
.scrollable{
    overflow-y: scroll;
    height: 900px;
    display: grid;
    grid-area: horsecardcontainer;
    grid-template-columns: auto ;
    grid-template-rows: auto ;
    grid-template-areas: "racecard";
    background-color: #F3FCFB;
    box-shadow: 0px 2px 10px #92ADB5;
    border-radius: 10px;
    padding: 25px;
}
.chanellist{
    overflow-y: scroll;
    width: 100%;
    height: 900px;
    background-color: #F3FCFB;
    box-shadow: 0px 2px 10px #92ADB5;
    border-radius: 10px;
}

.wehorsecard-card{
    display: grid;
    grid-area: racecard;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto ;
    grid-template-areas: "s1 s2" "s3 s4" "s5 s6";
    background-color: #F3FCFB;
    box-shadow: 0px 2px 10px #92ADB5;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #FFFFFF 81.32%, #E8EEf5 100%);
    box-shadow: inset 0px 2px 10px #3975A4;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    padding-bottom: 5%;
}
.wehorsecard-s1{
    display: grid;
    grid-area: s1;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    grid-template-areas: "sa1" "sa2";
}
.wehorsecard-sa1{
    display: grid;
    grid-area: sa1;
    padding-top: 3%;
    padding-left: 3%;
    
}
    .wehorsecard-sa1 > img{
        width: 100%;
    } 
.wehorsecard-sa2{
    display: grid;
    grid-area: sa2;
    padding-left: 30%;
    padding-right: 30%;
    
}
.sa2{
    background-image: linear-gradient(180deg, #FFFFFF 81.32%, #E8EEf5 100%);
    box-shadow: inset 0px 2px 10px #3975a4;
    border-radius: 10px;
    height: 50px;
}
    .sa2 > h4{
        text-align: center;
        color: #00AEa6;
        padding-top: 10px;
        font-weight: bolder;
    }
.wehorsecard-s2{
    display: grid;
    grid-area: s2;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    grid-template-areas: "wc1" "wc2";
}
.wehorsecard-s2-1{
    display: grid;
    grid-area: wc1;
    padding-top: 3%;
    padding-left: 3%;
    
}
    .wehorsecard-s2-1 > img{
        width: 100%;
    } 
.wehorsecard-s2-2{
    display: grid;
    grid-area: wc2;
    padding-left: 30%;
    padding-right: 30%;
}
.wc{
    background-image: linear-gradient(180deg, #FFFFFF 81.32%, #E8EEf5 100%);
    box-shadow: inset 0px 2px 10px #3975a4;
    border-radius: 10px;
    height: 50px;
}
 .wc > h4{
    text-align: center;
    color: #00AEa6;
    padding-top: 10px;
    font-weight: bolder;
 }

 .wehorsecard-s3{
    display: grid;
    grid-area: s3;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    grid-template-areas: "wcr1" "wcr2";
}
.wehorsecard-s3-1{
    display: grid;
    grid-area: wcr1;
    padding-top: 3%;
    padding-left: 3%;
    
}
    .wehorsecard-s3-1 > img{
        width: 100%;
    } 
.wehorsecard-s3-2{
    display: grid;
    grid-area: wcr2;
    padding-left: 30%;
    padding-right: 30%;
}
.wc{
    background-image: linear-gradient(180deg, #FFFFFF 81.32%, #E8EEf5 100%);
    box-shadow: inset 0px 2px 10px #3975a4;
    border-radius: 10px;
    height: 50px;
}
 .wc > h4{
    text-align: center;
    color: #00AEa6;
    padding-top: 10px;
    font-weight: bolder;
 }

.wehorsecard-s4{
    display: grid;
    grid-area: s4;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    grid-template-areas: "wcr11" "wcr22";
}
.wehorsecard-s4-1{
    display: grid;
    grid-area: wcr11;
    padding-top: 3%;
    padding-left: 3%;
    
}
    .wehorsecard-s4-1 > img{
        width: 100%;
    }
.wehorsecard-s4-2{
    display: grid;
    grid-area: wcr22;
    padding-left: 30%;
    padding-right: 30%;
}

.wehorsecard-s5{
    display: grid;
    grid-area: s5;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    grid-template-areas: "wcr111" "wcr222";
}
.wehorsecard-s5-1{
    display: grid;
    grid-area: wcr111;
    padding-top: 3%;
    padding-left: 3%;
    
}
    .wehorsecard-s5-1 > img{
        width: 100%;
    }
.wehorsecard-s5-2{
    display: grid;
    grid-area: wcr222;
    padding-left: 30%;
    padding-right: 30%;
}
.wehorsecard-s6{
    display: grid;
    grid-area: s6;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    grid-template-areas: "wcr1111" "wcr2222";
}
.wehorsecard-s6-1{
    display: grid;
    grid-area: wcr1111;
    padding-top: 3%;
    padding-left: 3%;
    
}
    .wehorsecard-s6-1 > img{
        width: 100%;
    }
.wehorsecard-s6-2{
    display: grid;
    grid-area: wcr2222;
    padding-left: 30%;
    padding-right: 30%;
}

.announcement{
    display: grid;
    grid-area: announce;
    grid-template-rows: auto;
    grid-template-columns: 5% auto;
    grid-template-areas: "announceicon announcetext";
    padding-left: 15%;
    padding-right: 15%;
    /* background-image: linear-gradient(90deg, #09203F 0%, #537895 100%); */
    /* box-shadow: 0px 3px 2px 0px #000000 50%; */
    height: 35px;
}
.announcement-announceicon{
    display: grid;
    grid-area: announceicon;
    padding-top: 5px;
}
    .announcement-announceicon >img{
        /* height: 50px; */
    }
.announcement-announcetext{
    display: grid;
    grid-area: announcetext;
    /* padding-top: 10px; */
}

#display{
  /* background:hsla(210,100%,50%,1); */
  height:60px;
  width:100%;
  overflow:hidden;
  position:relative;
  color: white;
}
#text{
  /* background:hsla(90,100%,50%,.5); */
  font-style: oblique;
  cursor:pointer;
  overflow:hidden;
  position:absolute;
  left:10px;
  margin-right:10px;
  top:10px;
}
.wehorsecontent2{
    display: grid;
    grid-area: content2;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: "wehorsecontent2" "wehorsecontent3" "wehorsecontent4";
}
.wehorsecontent2-content{
    display: grid;
    grid-area: wehorsecontent2;
    grid-template-rows: auto;
    grid-template-columns: auto 30%;
    grid-template-areas: "slide1 slide2";
    grid-column-gap: 5px;
    padding-top: 1%;
    /* padding-right: 15%;
    padding-left: 15%; */
}
.latestupdate{
    display: grid;
    grid-template-rows: 25%;
    grid-template-columns: 5% auto 15% auto 7%;
    /* grid-template-columns: 5% auto 40% 15% 5%; */
    grid-template-areas: "latesticon latesttext ww morevideo morevideoicon";
}
.latestupdate-icon{
    display: grid;
    grid-area: latesticon;
    padding-top: 15px;
}
 .latestupdate-icon > img{
     width: 65px;
 }
.latestupdate-text{
    display: grid;
    grid-area: latesttext;
    padding-left: 15px;
    padding-top: 1%;
}
    .latestupdate-text > h1{
        font-weight: 900;
        font-style: normal; 
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #464646;
        text-shadow: 0px 3px 3px rgba(84,84,84,0.62);
        
    }
.latestupdate-morevideo{
    display: grid;
    grid-area: morevideo;
    margin-top: 15%;
    padding-left: 40%;
}
    .latestupdate-morevideo > h4{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #464646;
        text-shadow: 0px 3px 3px rgba(84,84,84,0.62);
        font-weight: 900;
    }
.latestupdate-morevideoicon{
    display: grid;
    grid-area: morevideoicon;
    margin-top: 35px;
}
    .latestupdate-morevideoicon > img {
        width: 30px;
    }
.wehorsecontent2-slide1{
    display: grid;
    grid-area: slide1;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas: "slide11" "slide22";
   
    
}
.wehorsecontent2-slide1-slide11{
    display: grid;
    grid-area: slide11;
    border-radius: 15px;
    box-shadow: 3px 10px 10px rgb(0 0 0 / 50%);
    height: 99%;

}
.wehorsecontent2-slide1-slide22{
    display: grid;
    grid-area: slide22;
}
.wehorsecontent2-slide2{
    display: grid;
    grid-area: slide2;
    /* padding-bottom: 100%; */
    grid-template-rows: auto;
    grid-template-columns: auto ;
    grid-template-areas: "uprace";

    /* overflow-y: scroll;
    height: 700px; */

}
.wehorsecontent-slide2-uprace{
    display: grid;
    grid-area: uprace;
    grid-template-rows: 15%;
    grid-template-columns: auto auto auto;
    grid-template-areas: "u1 u2 u3";
}
.wehorsecontent-u1{
    display: grid;
    grid-area: u1;
    grid-template-rows: auto ;
    grid-template-columns: auto auto;
    grid-template-areas: "upicon uptext";
}
.wehorsecontent-u1-upicon{
    display: grid;
    grid-area: upicon;
    padding-top: 25px;
}
.wehorsecontent-u1-uptext{
    display: grid;
    grid-area: uptext;
}
    .wehorsecontent-u1-uptext > h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #464646;
        text-shadow: 0px 3px 3px rgba(84,84,84,0.62);
    }
.wehorseuprace{
    display: grid;
    grid-area: uprace;
}
.wehorsecontent-u3{
    display: grid;
    grid-area: u3;
    grid-template-rows: auto ;
    grid-template-columns: auto auto;
    grid-template-areas: "moretext moreicon";
}
.wehorsecontent-u3-moretext{
    display: grid;
    grid-area: moretext;
    padding-top: 14px;
}
    .wehorsecontent-u3-moretext > h4{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #464646;
        text-shadow: 0px 3px 3px rgba(84,84,84,0.62);
    }
.wehorsecontent-u3-moreicon{
    display: grid;
    grid-area: moreicon;
    padding-top: 20px;
}
.wehorseuprace{
    display: grid;
    grid-area: uprace;
    grid-template-rows: auto ;
    grid-template-columns: auto ;
    grid-template-areas: "upraceevents";
    padding-top: 60px;
}
.wehorseuprace-events{
    display: grid;
    grid-area: upraceevents;
}
/* .wehorsecontent-u2{
    display: grid;
    grid-area: u2;
}
.wehorsecontent-u4{
    display: grid;
    grid-area: u4;
}
.wehorsecontent-u5{
    display: grid;
    grid-area: u5;
} */
/* .wehorsecontent2-slide2-uprace{
    display: grid;
    grid-area: slide2uprace;
} */
/* .wehorsecontent2-slide2-morerace{
    display: grid;
    grid-area: slide2morerace;
} */

.wehorsecontent3{
    display: grid;
    grid-area: wehorsecontent3;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas: "wehorsecontent3-1" "wehorsecontent3-2";    
    /* padding-left: 15%;
    padding-right: 15%; */
}
.cd{
    display: grid;
    grid-template-rows: auto ;
    grid-template-columns: auto;
    grid-template-areas: "cd1";   
    grid-column-gap: 30px;
    padding-bottom: 2%;
   
}
 /* 
 .cd-1{
     display: grid;
     grid-area: cd1;
 }
 .cd-2{
     display: grid;
     grid-area: cd2;
 } */
.wehorsecontent3-horsenews{
    display: grid;
    grid-area: wehorsecontent3-1;
    grid-template-rows: auto ;
    grid-template-columns: 5% auto;
    grid-template-areas: "latesthorsenewsicon latesthorsenews";   
}
.wehorsecontent3-latesthorsenewsicon{
    display: grid;
    grid-area: latesthorsenewsicon;
    padding-top: 20px;
    
}
.wehorsecontent3-latesthorsetext{
    display: grid;
    grid-area: latesthorsenews;
}

.wehorsecontent3-latesthorsenews{
    display: grid;
    grid-area: cd1;
    padding: 1%;
    background-color: #ECF2F3;
    box-shadow: 0px 10px 10px #92adb5;
    border-radius: 5px;
    grid-template-rows: auto ;
    grid-template-columns: 30% auto;
    grid-template-areas: "latesthorsenewsimage latesthorsenewsinfo";  
    grid-column-gap: 30px; 
    overflow-y: scroll;
    height: 300px;
    overflow-x: hidden;
}
.wehorsecontent3-latestimage{
    display: grid;
    grid-area: latesthorsenewsimage;
}
.wehorsecontent3-latestinfos{
    display: grid;
    grid-area: latesthorsenewsinfo;
}
    .wehorsecontent3-latestinfos > h4{
        color: #225922;
    }
    .wehorsecontent3-latestinfos > h6{
        color: #225922;
    }
.card-body{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto ;
    grid-template-areas: "cardbody1""cardbody2""cardbody3""cardbody4""cardbody5";
    grid-column-gap: 10px;
}
.cardraceevent1{
    display: grid;
    grid-area: cardbody1;
}
.cardraceevent2{
    display: grid;
    grid-area: cardbody2;
}
.cardraceevent3{
    display: grid;
    grid-area: cardbody3;
}
.cardraceevent4{
    display: grid;
    grid-area: cardbody4;
}
.cardraceevent5{
    display: grid;
    grid-area: cardbody5;
}
.tdes{
    background-color: #ecf2f3;
    border-radius: 0px, 0px, 5px, 5px;
    box-shadow: 0px, 10px, 10px, #92adb5;
    filter: drop-shadow(0px 10px 10px rgba(27, 92, 102, 0.5));    
}

    .card-body-img{
        display: grid;
        grid-area: cardbobyimg;
    }
    .card-body-img > img{
        width: 100%;
        height: auto;
        filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.5));
        border-radius: 1.8px;
    }
/* .card-body-info{
    display: grid;
    grid-area: cardbodyinfo;
    grid-template-rows:auto;
    grid-template-columns: auto auto auto ;
    grid-template-areas: "carddate country cardtime";
}
.card-body-carddate{
    display: grid;
    grid-area: carddate;
}
.card-body-cardlocation{
    display: grid;
    grid-area: country;
}
.card-body-cardtime{
    display: grid;
    grid-area: cardtime;
} */

.wehorsecontent4{
    display: grid;
    grid-area: wehorsecontent4;
    grid-template-rows: auto ;
    grid-template-columns: 40% 5% auto auto;
    grid-template-areas: "wehorsecontent3-11 emppmt wehorsecontent3-22 wehorsecontent3-33"; 
    /* padding-left: 15%;
    padding-right: 15%;   */
    padding-bottom: 1%;
}
.wehorsecontent4-livestream{
    display: grid;
    grid-area: wehorsecontent3-11;
    grid-template-rows: auto auto; 
    grid-template-columns: auto;
    grid-template-areas: "streaminfo" "livestreams";
}
.wehorsecontent4-streaminfo-1{
    display: grid;
    grid-area: streaminfo;
    grid-template-rows: auto; 
    grid-template-columns: 10% auto;
    grid-template-areas: "streamicon streamtext";
}
.wehorsecontent4-streamicon{
    display: grid;
    grid-area: streamicon;
    padding-top: 15px;
}
.wehorsecontent4-streamtext{
    display: grid;
    grid-area: streamtext;
    padding-left: 5px;
}
    .wehorsecontent4-streamtext > h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #464646;
        text-shadow: 0px 3px 3px rgba(84,84,84,0.62);
        font-weight: 900;
        font-size: 20px;
    }
    .lshead{
        padding: 15px;
        border-radius: 5px;
        background-image: linear-gradient(180deg, #ffffff 0%, #f0f1f6 5.2%);
        box-shadow: 0px 4px 4px #dbdbdb;
        background-color: #f0f1f6;
        filter: drop-shadow(0px 10px 10px rgba(175, 196, 199, 0.5));    
    }
    .lstable{
        padding: 15px;
        border-radius: 5px;
        background-image: linear-gradient(180deg, #ffffff 0%, #f0f1f6 5.2%);
        box-shadow: 0px 4px 4px #dbdbdb;
        background-color: #f0f1f6;
        /* filter: drop-shadow(0px 10px 10px rgba(25, 60, 65, 0.5));     */
    }
.wehorsecontent4-livestream-table{
    display: grid;
    grid-area: livestreams;
}

.wehorsecontent4-livestreaminfo{
    display: grid;
    grid-area: livestream;
} 

.wehorsecontent4-table{
    display: grid;
    grid-area: wehorsecontent3-22;
    grid-template-rows: auto;
    grid-template-columns: 15% auto ;
    grid-template-areas: "icon1 topplayer";
}
.wehorsecontent4-icon-1{
    display: grid;
    grid-area: icon1;
    padding-top: 15px;
}
.thbg{
    background-color: #377297;
    color: white;
}
.wehorsecontent4-toplayer{
    display: grid;
    grid-area: topplayer;
}
    .wehorsecontent4-toplayer > h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #464646;
        text-shadow: 0px 3px 3px rgba(84,84,84,0.62);
        font-weight: 900;
    }
.wehorsecontent4-table-2{
    display: grid;
    grid-area: wehorsecontent3-33;
    grid-template-rows: auto;
    grid-template-columns: 25% auto ;
    grid-template-areas: "icon2 countryname";
}
.wehorsecontent4-icon-2{
    display: grid;
    grid-area: icon2;
    padding-top: 20px;
}
.wehorsecontent4-countryname{
    display: grid;
    grid-area: countryname;
}
    .wehorsecontent4-countryname > h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #464646;
        text-shadow: 0px 3px 3px rgba(84,84,84,0.62);
        font-weight: 900;
    }
.card-style-body{
    width: auto;
    height: auto;

    display: grid;
    grid-template-columns: 75% auto;
    grid-template-rows: auto;
    grid-template-areas: "date moreraces";
}
.card-style-body-date{
    display: grid;
    grid-area: date;
}
.card-style-body-morerace{
    display: grid;
    grid-area: moreraces;

}

.wehorsecontent-testimonials{
    display: grid;
    grid-area: wehorsecontent;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "testimonials";
    padding-top: 3%;
    padding-bottom: 3%;
    
}
.wehorsecontent-testimonial-tes{
    display: grid;
    grid-area: testimonials;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "t1 t2 t3 t4" "t5 t6 t7 t8";
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    
}
    .zoomcardtesti{
        height: 250px;
        background-image: linear-gradient(180deg, #ffffff, 81.32%, #e8eef5 100%);
        box-shadow: 0px 2px 10px #3975a4;
    }
    .zoomcardtesti:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2); 
        background-color: #79e9b5;
        box-shadow: 5px 10px 30px #3975a4;
    }
    .card-body > h5{
        font-size: 20px;
        font-family: Reem Kufi;
        font-style: normal;
        font-weight: normal;
        
    }
.wehorsetestimonials{
    display: grid;
    grid-area: content3;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "hr" "testihead" "testicontent";
    /* padding-bottom: 5%; */
    /* grid-row-gap: 10%; */

}
.wehorsetestimonials-hr{
    display: grid;
    grid-area: hr;
}
    .wehorsetestimonials-hr > hr{
        border: 5px solid #d7d7d7;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    }
.wehorsetestimonials-head{
    display: grid;
    grid-area: testihead;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "testiicon testitext";
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 5%;
}
.wehorsetestimonials-head-icon{
    display: grid;
    grid-area: testiicon;
    padding-top: 20px;
}
.wehorsetestimonials-head-text{
    display: grid;
    grid-area: testitext;
    /* padding-left: 45%;
    padding-right: 45%; */
}

    .wehorsetestimonials-head-text > h2{
        text-align: center;
        text-shadow: 0.5px 2px 2px rgba(84, 84, 84, 0.6);
    }
    .card-title{
        text-align: center;
    }
.wehorsetestimonials-content{
    display: grid;
    grid-area: testicontent;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto ;
    grid-template-areas: "testi1 testi2 testi3";
    grid-column-gap: 100px;
    padding-bottom: 5%;
}
.wehorsetestimonials-testi-1{
    display: grid;
    grid-area: testi1;
}
    .zoomcard{
        /* filter: drop-shadow(0px 0px 20px #839d91); */
        background-color: #f9feff;
        box-shadow: 0px 2px 10px #3975a4;
        
    }
    .zoomcard:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5); 
        background-color: white;
        box-shadow: 0px 2px 10px #3975a4;
    }
.testibg{
    /* background-image: url("../images/testibg1.png");
    background-repeat: no-repeat;
    height: 250px;
    width: 300px; */
}
.wehorsetestimonials-testi-2{
    display: grid;
    grid-area: testi2;
}
.wehorsetestimonials-testi-3{
    display: grid;
    grid-area: testi3;
}

.wehorseblog{
    display: grid;
    grid-area: wehorsecontent;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "horseblog";
}
.wehorseblog-container{
    display: grid;
    grid-area: horseblog;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: "blog1" "blog2" "blog3" "blog4" "blog5" "blog6" "blog7";
}
.wehorseblog-blog1{
    display: grid;
    grid-area: blog1;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "b1 b2";
}
.b1{
    display: grid;
    grid-area: b1;
}   
.b2{
    display: grid;
    grid-area: b2;
    padding-top: 20%;
}
    .b2 > h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 25px;
        line-height: 29px;
        color: #89aa8f;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .b2 > h3:hover{
        color: #4ea85f;
    }
    .b2 > p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 15;
        line-height: 18px;
        font-weight: 500;
        color: #9F9DA2;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .b2 > p:hover{
        color: #000000;
    }
    .toglep{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 25px;
        line-height: 29px;
        color: #89aa8f;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
        padding-bottom: 50%;
    }
    .toglep:hover{
        color: #4ea85f;
    }
.wehorseblog-blog2{
    display: grid;
    grid-area: blog2;
    grid-template-rows: auto;
    grid-template-columns: 37% auto;
    grid-template-areas: "bl1 bl2";
}
.bl1{
    display: grid;
    grid-area: bl1;
    padding-top: 20%;
}

    .bl1 > h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 25px;
        line-height: 29px;
        color: #89aa8f;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .bl1 > h3:hover{
        color: #4ea85f;
    }

    .bl1 > p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 15;
        line-height: 18px;
        font-weight: 500;
        color: #9F9DA2;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .bl1 > p:hover{
        color: #000000;
    }
.bl2{
    display: grid;
    grid-area: bl2;
}
.wehorseblog-blog3{
    display: grid;
    grid-area: blog3;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "blo1 blo2";
}
.blo1{
    display: grid;
    grid-area: blo1;
}
.blo2{
    display: grid;
    grid-area: blo2;
    padding-top: 20%;
}
    .blo2 > h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 25px;
        line-height: 29px;
        color: #89aa8f;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .blo2 > h3:hover{
        color: #4ea85f;
    }
    .blo2 > p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 15;
        line-height: 18px;
        font-weight: 500;
        color: #9F9DA2;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .blo2 > p:hover{
        color: #000000;
    }
.wehorseblog-blog4{
    display: grid;
    grid-area: blog4;
    grid-template-rows: auto;
    grid-template-columns: 37% auto;
    grid-template-areas: "blog1 blog2";
}
.blog1{
    display: grid;
    grid-area: blog1;
    padding-top: 20%;
}
    
    .blog1 > h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 25px;
        line-height: 29px;
        color: #89aa8f;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .blog1 > h3:hover{
        color: #4ea85f;
    }
    .blog1 > p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 15;
        line-height: 18px;
        font-weight: 500;
        color: #9F9DA2;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .blog1 > p:hover{
        color: #000000;
    }

.blog2{
    display: grid;
    grid-area: blog2;
}
.wehorseblog-blog5{
    display: grid;
    grid-area: blog5;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "bb1 bb2";
}
.blog-bb1{
    display: grid;
    grid-area: bb1;
}
.blog-bb2{
    display: grid;
    grid-area: bb2;
    padding-top: 20%;
}

    .blog-bb2 > h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 25px;
        line-height: 29px;
        color: #89aa8f;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .blog-bb2 > h3:hover{
        color: #4ea85f;
    }
    .blog-bb2 > p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 15;
        line-height: 18px;
        font-weight: 500;
        color: #9F9DA2;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .blog-bb2 > p:hover{
        color: #000000;
    }
.wehorseblog-blog6{
    display: grid;
    grid-area: blog6;
    grid-template-rows: auto;
    grid-template-columns: 37% auto;
    grid-template-areas: "ll1 ll2";
}
.blog-ll1{
    display: grid;
    grid-area: ll1;
    padding-top: 20%;
}

    .blog-ll1 > h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 25px;
        line-height: 29px;
        color: #89aa8f;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .blog-ll1 > h3:hover{
        color: #4ea85f;
    }
    .blog-ll1 > p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 15;
        line-height: 18px;
        font-weight: 500;
        color: #9F9DA2;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .blog-ll1 > p:hover{
        color: #000000;
    }

.blog-ll2{
    display: grid;
    grid-area: ll2;
}
.wehorseblog-blog7{
    display: grid;
    grid-area: blog7;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "gg1 gg2";
}
.blog-gg1{
    display: grid;
    grid-area: gg1;
}
.blog-gg2{
    display: grid;
    grid-area: gg2;
    padding-top: 20%;
}

        
    .blog-gg2 > h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 25px;
        line-height: 29px;
        color: #89aa8f;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .blog-gg2 > h3:hover{
        color: #4ea85f;
    }
    .blog-gg2 > p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 15;
        line-height: 18px;
        font-weight: 500;
        color: #9F9DA2;
        text-shadow: 0.5px 1px 1px rgba(0,0,0,0.8);
    }
    .blog-gg2 > p:hover{
        color: #000000;
    }
.footer{
    display: grid;
    grid-area: footer;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "footercontent";
    background-image: linear-gradient(90deg, rgba(71, 59, 123, 0.78) 0%, rgba(53, 132, 167, 0.94) 51%, rgba(48, 210, 190, 0.6) 100%);
    color: white;
}
.footer-content{
    display: grid;
    grid-area: footercontent;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas: "footercontent1" "footercontent2";
    padding-left: 15%;
    padding-right: 15%;
    /* background-image: url("../images/horselogo.png");
    background-repeat: no-repeat; */
}
.footer-content-1{
    display: grid;
    grid-area: footercontent1;
}
.footer-content-2{
    display: grid;
    grid-area: footercontent2;
    grid-template-rows: auto ;
    grid-template-columns: auto auto;
    grid-template-areas: "faq copyright";
    grid-column-gap: 50px;
}
.footer-faq{
    display: grid;
    grid-area: faq;
}
.footer-faq > p >a{
    color: white;
    text-decoration: none;
}
.footer-faq > p :hover{
    color: violet;
}
.footer-copyright{
    display: grid;
    grid-area: copyright;
}

.modalforms{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: "register" "forms" "continue";
    grid-row-gap: 60px;
}
.modalforms-register{
    display: grid;
    grid-area: register;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-shadow:  4.1 4.1 4.1 rgba(0,0,0,0.44);
    color: white;
}

.modallogin{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: "login" "loginforms" "submit";
    grid-row-gap: 60px;
}
.modalforms-login{
    display: grid;
    grid-area: login;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-shadow:  4.1 4.1 4.1 rgba(0,0,0,0.44);
    color: white;
}
.modalforms-loginform{
    display: grid;
    grid-area: loginforms;
    padding-left: 5%;
    padding-right: 5%;
}
.modalforms-forms{
    display: grid;
    grid-area: forms;
    padding-left: 5%;
    padding-right: 5%;
}

.modalform-loginsubmit{
    display: grid;
    grid-area: continue;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 10%;
}
/* .modalforms-login{
    display: grid;
    grid-area: forms;
    padding-left: 15%;
    padding-right: 15%;
} */
.modalform-submit{
    display: grid;
    grid-area: continue;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 10%;
}
.form-input-style{
    margin-bottom: 10px;
    background-color: #2e323b;
    color: white;
    border-color: #b9b3a9;
}
.labels{
    color: whitesmoke;
    font-size: 10px;
}
.logins{
    display: grid;
    grid-area: header;
    grid-template-rows: auto;
    grid-template-columns: auto 30% auto auto auto auto;
    grid-template-areas: " we3logo extra userName datetime country logout";
    /* padding-top: 20%; */
}
.login-3welogo{
    display: grid;
    grid-area: we3logo;
}
.login-username{
    display: grid;
    grid-area: userName;
}
    .login-username > a > i{
        color: white;
        text-shadow: 0px 3.05px 3.05 rgba(0,0,0,0.96);
        font-size: 22.81px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;

    }
    .login-username >a > i:hover{
        color: rgb(105, 100, 18);
    }

.login-datetime{
    display: grid;
    grid-area: datetime;
}
.login-country{
    display: grid;
    grid-area: country;
}
.login-logout{
    display: grid;
    grid-area:logout;
}
    .login-logout > a > i{
        color: white;
        text-shadow: 0px 3.05px 3.05 rgba(0,0,0,0.96);
        font-size: 22.81px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
    }
    .ims {
        transition: transform .2s;
        width: 90px;
        height: 40px;
        padding-top: 3px;
    }
    .ims:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2); 
      }


    
/*   chat */

.mainchat{
    display: grid;
    background: #414e59;
    grid-template-rows: 10% auto 15%;
    grid-template-columns: auto;
    grid-template-areas: "chead" "cbody" "cbutton";
    border-radius: 10px;
}

.chatboxhead {
    grid-area: chead;
    padding: 15px 25px;
    display: flex;
    background-color: #2e323b;
    border-radius: 5px;
  }
   
  .chatboxhead p.chat {
    flex: 1;
    color: #0eff0e;
  }  

.chatbox {
grid-area: cbody;
text-align: left;
margin: 0 auto;
overflow-y: auto;
overflow-x: unset;
height: 360px;
overflow: auto;
background-color: #414e59;
margin: 10px;
animation: name duration timing-function delay iteration-count direction fill-mode;

}
.chatbutton{
    display: flex;
    grid-area: cbutton;
    padding-right: 5%;
    padding-left: 5%;
}
    .chatbutton > input{
        height: 50px;
        border-radius: 23px;
        box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
        background-image: linear-gradient(159.56deg, #414e59 0%, #1a1d24 99.55%);
       
    }
  form label {
    font-size: 1.5rem;
    font-weight: bold;
  }
   
  input {
    font-family: "Lato";
  }


 
   


  #usermsg {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #ff9800;
  }
   

  #submitmsg,
  #enter{
    background: #ff9800;
    border: 2px solid #e65100;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
  }
   
  .error {
    color: #ff0000;
  }
   
  #menu {
    padding: 15px 25px;
    display: flex;
    background-color: #2e323b;
  }
   
  #menu p.welcome {
    flex: 1;
    color: #0eff0e;
  }
   
  a#exit {
    color: white;
    background: #c62828;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
  }
   
  .msgln {
    margin: 0 0 5px 0;
  }
   
  .msgln span.left-info {
    color: orangered;
  }
   
  .msgln span.chat-time {
    color: #666;
    font-size: 60%;
    vertical-align: super;
  }
   
  .msgln b.user-name, .msgln b.user-name-left {
    font-weight: bold;
    background: #546e7a;
    color: white;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
   
  .msgln b.user-name-left {
    background: orangered;
  }

  .tab-menus > a >h6{
        text-decoration: none;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 10.8pt;
    }

a{
    text-decoration: none!important;
}
.ezx > p {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 35px;
    margin-top: 18%;
}
.ezx > img {
    margin-left: 130px;
}
.fotr{
    padding-bottom: 10%;
    padding-top: 10%;
}
.fotr > p{
    text-align: justify;
    font-size: larger;
}
#cardsty{
    border-radius: 10px;
    background-image: linear-gradient(180deg, #ffffff 81/32%, #e8eef5 100%);
    box-shadow: inset 0px 2px 10px #3975a4;
}
#card2{
    /* height: 250px; */
    border-radius: 10px;
    box-shadow: inset 0px 10px 10px #92adb5;
    background-color: #f3fcfb;
    padding-top: 20px;
    padding:10px;
}
.bettips{
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    color: #02231f;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    /* border-radius: 30px; */
  }
  
  .icon-bar a:hover {
    background-color: transparent;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  .telegram {
    background: gray;
    color: white;
  }
  .webet {
    background: rgb(97, 90, 58);
    color: white;
  }
  .plus{
    background: red;
    color: black;
  }
  .minus{
    background: black;
    color: white;
  }
  .webet > i :hover{
      background-color:black;
  }
  .tiktok {
    background: #b10491;
    color: white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 30px;
  }
  .wechat{
    background: #7BB32E;
    color: white;
  }
  
  .fbzoom{
    background: #3B5998;
    color: white;
  }
    .fbzoom:hover {
        -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: #3B5998;
    }
  
  .tgzoom{
    background: gray;
    color: white;
  }
    .tgzoom:hover {
        -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: gray;
    }
  
  .twtzoom{
    background: #55ACEE;
    color: white;
  }
    .twtzoom:hover {
        -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: #55ACEE;
    }
  .ytzoom{
    background: #bb0000;
    color: white;
  }
    .ytzoom:hover {
        -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: #bb0000;
    }
    .w3zoom{
      background: rgb(97, 90, 58);
      color: white;
  }
    .w3zoom:hover {
        -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: #bb0000;
    }
    .tikzoom{
      background: #b10491;
    color: white;
  }
    .tikzoom:hover {
        -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: white;
    }
  
    .wezoom{
      background:  #7BB32E;
    color: white;
  }
    .wezoom:hover {
        -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: #7BB32E;
    }
    .whatsappzoom{
      background:#128C7E;
      color: white;
  }
    .whatsappzoom:hover {
        -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: #128C7E;
    }



.content {
  margin-left: 75px;
  font-size: 30px;
}
.pagi{
    display: grid;
    grid-template-rows: auto 15%;
    grid-template-columns: auto;
    grid-template-areas: "pagicontent" "pagipage";
}
.pagi-content{
    display: grid;
    grid-area: pagicontent;
}
.pagi-pages{
    display: grid;
    grid-area: pagicontent;
}
.prevnext{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 45% auto auto 45%;
    grid-template-areas: "sp1 prv ntx sp2 ";
}
.prevnextprv{
    display: grid;
    grid-area: prv;
}
.prevnextntx{
    display: grid;
    grid-area: ntx;
}


.wrapperss{
	margin: 0 auto;
	padding-bottom: 25px;
	background: #414e59;
	width: 430px;
	border-radius:10px;
	}


	/* .chatbody {
		text-align: left;
		margin: 0 auto;
		margin-bottom: 25px;
		padding: 10px;
		background: #414e59;
		height: 400px;
		border: 1px solid #ACD8F0;
		overflow: auto;
		color:white;
	} */


	.chat-content{
		height: 400px;
	}
	.inputss{
		width: 300px;
		height: 60px;
		border-radius: 30px;
		margin-left: 10px;
	}
	.chattitle{
		background-color:#2e323b;
		height: 100px;
		border-top-left-radius: 10px;
   		border-top-right-radius: 10px;
		padding-top: 15px;
		padding-left: 10px;
		color: #09ff09;
	}
    .h22{
        text-align: center;
    }
	.ctrl{
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: auto;
    grid-template-areas: "inputarea send"
	}
	.ctrlarea{
		display: grid;
		grid-area: inputarea;
		padding-left: 10px;
	}
     .ctrlarea > input{
        width: 300px;
        height: 60px;
        border-radius: 30px;
     }
	.ctrlsend{
		display: grid;
		grid-area: send;
		padding-right: 10px;
	}

    #calendar {
        width: 1500px;
        margin: 0 auto;
    }
    
    .response {
        height: 60px;
    }
    
    .success {
        background: #cdf3cd;
        padding: 10px 60px;
        border: #c3e6c3 1px solid;
        display: inline-block;
    }

.modal-xl {
    max-width: 80% !important;
}
.crdtesti{
    height: 80px;
    background-image: linear-gradient(180deg, #ffffff, 81.32%, #e8eef5 100%);
    box-shadow: 0px 2px 10px #3975a4;
    border-radius: 10px;
}
.crdtesti:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    background-color: #79e9b5;
    box-shadow: 5px 10px 30px #3975a4;
}
.caroitem{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.holdingbox {
    position: relative;
    top: 0;
    /* margin-left: 100px; */
}

.leftbox {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 24px;
    /* background-color: #ac193d; */
    color: #FFF;
    font-weight: bold;
    padding: 1px;
    padding: 0;
    margin: 0;
}
.rightbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 30px;
    vertical-align: top;
    margin-right: 0;

}
.content{
    /* width: 300px; */
    position: absolute;
    /* background-color: #ac193d; */
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    color: #FFF;
    /* padding-left: 5px; */
    padding: 0;
    margin: 0;
}
.stickys{
  width: 50px; 
  height: 200px; 
  background-color: black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top: 5px solid #d8b35b;
  border-right: 5px solid #d8b35b;
  border-bottom: 5px solid #d8b35b;
  /* border: 5px solid #d8b35b; */
}
.stickys > p{
  writing-mode: vertical-lr;
  padding-top: 10px;
}

.stickys > i{
  padding: 5px;
}

.iconss{
  display: grid;
  grid-template-columns: auto ;
  grid-template-rows: auto auto auto auto auto auto auto auto ;
  grid-template-areas: "icon1" "icon2" "icon3" "icon4" "icon5" "icon6" "icon7" "icon8";
}
.iconss-1{
  grid-area: icon1;
}
.iconss-2{
  grid-area: icon2;
}
.iconss-3{
  grid-area: icon3;
}
.iconss-4{
  grid-area: icon4;
}
.iconss-5{
  grid-area: icon5;
}
.iconss-6{
  grid-area: icon6;
}
.iconss-7{
  grid-area: icon7;
}
.iconss-8{
  grid-area: icon8;
}
.icondiv{

}