/* @media screen and (orientation:landscape)
and (min-device-width: 320px) 
and (max-device-width: 480px) { */
/* @media screen and (max-width: 320px) { */
    html{
        font-size: 62.5%;
    }
    /* @media screen and (max-width: 320px){ */
@media (min-width:320px) and (max-width:553px){
    html{
        font-size: 1.2em;
    }
    .text {
      font-size: 16px;
    }

    .carinner img{
        width: 100%;
    }
    .header-logo{
        padding-top: 80%;
    }
        .header-logo > img{
            width: 50px;
            height: 40px;
        }
    .header-login-buttons-login > button{
        width: 44px;
    }
    .header-login-buttons-login > button > i{ 
        font-size: 0;
    }
    .header-login-buttons-login > button > i > img{ 
        padding-bottom: 10px;
    }
    .qrbutton{
        width: 20px;
    }
    .header-login-buttons-join > button{
        width: 44px;
    }
    .header-login-buttons-join > button > i{
        font-size: 0;
    }
    .header-login-buttons-join > button > i > img{
        padding-bottom: 10px;
    }

    .menu{
        overflow: auto;
        white-space: nowrap;
    }
    .announcement{
        grid-template-columns: 35% auto;
    }
    .wehorsecontent2{
        grid-template-columns: 100%;
    }
    .wehorsecontent2-content{
        display: inline;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .latestupdate{
        grid-template-columns: auto auto auto auto;
    }
    .latestupdate-icon{
        display: none;
    }
    .latestupdate-morevideo{
        display: none;
    }
    .wehorsecontent3{
        padding-right: 0;
        padding-left: 0;
    }
    .wehorsecontent3-horsenews{
        padding-right: 0;
        padding-left: 0;
    }
    .wehorsecontent3-latesthorsenews{
        display: inline;
    }
    .wehorsecontent3-latesthorsenewsicon{
        display: none;
    }
    .wehorsecontent4{
        display: inline;
        padding-left: 0;
        padding-right: 0;
    }
    .wehorsecontent4-videoicon{
        display: none;
    }
    .tables{
        margin-left: 20px;
    }
    .weschedule-img > img{
        width: 100%;
    }
    .weschedule-container-head{
        padding-right: 0;
        padding-left: 0;
    }
    .weschedule-container{
        padding-right: 0;
        padding-left: 0;
        display: inline;
    }
    .wehorselivestream{
        display: inline;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .wehorselivestreamlist-list{
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
    }
    .wehorselivestreamchannel-list{
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
    }
    .wehorsebettingtips-tip{
        padding-left: 0;
        padding-right: 0;
    }
    .wehorsebettingtips-tipvideo{
        
    }
        .wehorsebettingtips-tipvideo > iframe{
            width: 320px;
        }
    .wehorsebettingtips-tipvideo-1{
        display: inline;
    }
    .wehorsebettingtips-b1{
        padding-left: 0;
    }
        .wehorsebettingtips-b1 > img {
            width: 320px;
        }
    .wehorsebettingtips-b2{
        padding-left: 0;
    }
        .wehorsebettingtips-b2 > img {
            width: 320px;
        }
    .wehorsebettingtips-b3{
        padding-left: 0;
    }
        .wehorsebettingtips-b3 > img {
            width: 320px;
        }
    .wehorsebettingtips-guide{
        padding-left: 3%;
        padding-right: 3%;
    }
    .wehorsehorsecard{
        padding-left: 0;
        padding-right: 0;
    }
    .wehorsecard-card{
        display: inline;
    }
    .sa2 > h4{
        font-size: 100%;
    }
    .wc > h4{
        font-size: 100%;
    }
    .wehorsetestimonials{
        display: inline;
        grid-row-gap: 0;
    }
    .wehorsetestimonials-content{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "testi1" "testi2" "testi3";
        grid-row-gap: 20px;
        padding-top: 20px
        
    }
    .wehorsetestimonials-head{
        padding: 0;
    }
    .wehorsetestimonials-head-icon{
        padding: 0;
    }
    .wehorsetestimonials-head-text > h2{
        margin: 0;
        padding-right: 50px;
    }
    .zoomcard{
        background-color: #f9feff;
        box-shadow: 5px 10px 30px #839d91;
        
    }
    .zoomcard:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
        background-color: #79e9b5;
        box-shadow: 5px 10px 30px #79e9b5;
    }
    .toglep{
        padding: 0;
    }
    .wehorseblog-blog1{
        display: inline;
    }
    .wehorseblog-blog1{
        display: inline;
    }
    .b1> img{
        width: 300px;
    }
    .b2{
        padding: 0;
        width: 300px;
    }
    .wehorseblog-blog2{
        display: inline;
    }
    .bl1{
        padding: 0;
        width: 300px;
    }
    .bl2 > img{
        width: 300px;
    }
    .wehorseblog-blog3{
        display: inline;
    }
    .blo1 > img{
        width: 300px;
    }
    .blo2{
        padding:0;
        width: 300px;
    }
    .wehorseblog-blog4{
        display: inline;
    }
    .blog1{
        width: 300px;
        padding:0;
    }
    .blog2 > img{
        width: 300px;
    }
    .wehorseblog-blog5{
        display: inline;
    }
    .blog-bb1 > img{
        width: 300px;
    }
    .blog-bb2{
        width: 300px;
        padding: 0;
    }
    .wehorseblog-blog6{
        display: inline;
    }
    .blog-ll2 > img{
        width: 300px;
    }
    .blog-ll1{
        width: 300px;
        padding: 0;
    }
    .wehorseblog-blog7{
        display: inline;
    }
    .blog-gg1 > img{
        width: 300px;
    }
    .blog-gg2{
        width: 300px;
        padding: 0;
    }

}   

/* @media screen and (width: 360px) { */
@media (min-width:360px) and (max-width:553px){
    html{
        font-size: 1.2em;
    }
    .text {
      font-size: 16px;
    }
    
    /* .bghead{
        background: none !important;
    }
    .qr{
        background: none !important;
    } */
    /* .header{
        display: none;
    } */
    /* .header-logo{
        padding-top: 80%;
    }
        .header-logo > img{
            width: 50px;
            height: 40px;
        }
    .header-login-buttons-login > button{
        width: 44px;
    }
    .header-login-buttons-login > button > i{ 
        font-size: 0;
    }
    .header-login-buttons-login > button > i > img{ 
        padding-bottom: 10px;
    }
    .qrbutton{
        width: 20px;
    }
    .header-login-buttons-join > button{
        width: 44px;
    }
    .header-login-buttons-join > button > i{
        font-size: 0;
    }
    .header-login-buttons-join > button > i > img{
        padding-bottom: 10px;
    } */
    .menu{
        overflow: auto;
        white-space: nowrap;
    }
    .announcement{
        grid-template-columns: 35% auto;
    }
    .wehorsecontent2{
        grid-template-columns: 100%;
    }
    .wehorsecontent2-content{
        display: inline;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .latestupdate{
        grid-template-columns: auto auto auto auto;
    }
    .latestupdate-icon{
        display: none;
    }
    .latestupdate-morevideo{
        display: none;
    }
    .wehorsecontent3{
        padding-right: 0;
        padding-left: 0;
    }
    .wehorsecontent3-horsenews{
        padding-right: 0;
        padding-left: 0;
    }
    .wehorsecontent3-latesthorsenews{
        display: inline;
    }
    .wehorsecontent3-latesthorsenewsicon{
        display: none;
    }
    .wehorsecontent4{
        display: inline;
        padding-left: 0;
        padding-right: 0;
    }
    .wehorsecontent4-videoicon{
        display: none;
    }
    .tables{
        margin-left: 20px;
    }
    .weschedule-img > img{
        width: 100%;
    }
    .weschedule-container-head{
        padding-right: 0;
        padding-left: 0;
    }
    .weschedule-container{
        padding-right: 0;
        padding-left: 0;
        display: inline;
    }
    .a{
        padding-left: 6%;
    }
    .wehorselivestream{
        display: inline;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .wehorsebettingtips-tip{
        padding-left: 0;
        padding-right: 0;
    }
    .wehorsebettingtips-tipvideo{
        /* width: 100%; */
    }
        .wehorsebettingtips-tipvideo > iframe{
            width: 100%;
        }
    .wehorsebettingtips-tipvideo-1{
        display: inline;
    }
    .wehorsebettingtips-b1{
        padding-left: 0;
    }
        .wehorsebettingtips-b1 > img {
            width: 360px;
        }
    .wehorsebettingtips-b2{
        padding-left: 0;
    }
        .wehorsebettingtips-b2 > img {
            width: 360px;
        }
    .wehorsebettingtips-b3{
        padding-left: 0;
    }
        .wehorsebettingtips-b3 > img {
            width: 360px;
        }
    .wehorsebettingtips-guide{
        padding-left: 3%;
        padding-right: 3%;
    }
    .wehorsehorsecard{
        padding-left: 0;
        padding-right: 0;
    }
    .wehorsecard-card{
        display: inline;
    }
    .sa2 > h4{
        font-size: 100%;
    }
    .wc > h4{
        font-size: 100%;
    }
    .wehorsetestimonials{
        display: inline;
        grid-row-gap: 0;
    }
    .wehorsetestimonials-content{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "testi1" "testi2" "testi3";
        grid-row-gap: 20px;
        padding-bottom: 100%;
        
    }
    .wehorsetestimonials-head{
        padding: 0;
    }
    .wehorsetestimonials-head-icon{
        padding: 0;
    }
    .wehorsetestimonials-head-text > h2{
        margin: 0;
        padding-right: 50px;
    }
    .zoomcard{
        background-color: #f9feff;
        box-shadow: 5px 10px 30px #839d91;
        
    }
    .zoomcard:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
        background-color: #79e9b5;
        box-shadow: 5px 10px 30px #79e9b5;
    }
}   

/* @media screen and (width: 375px) { */
@media (min-width:375px) and (max-width:667px){
    html{
        font-size: 1.2em;
    }
    .text {
      font-size: 16px;
    }
    /* .header{
        display: none;
    } */
    .menu{
        overflow: auto;
        white-space: nowrap;
    }
    .announcement{
        grid-template-columns: 35% auto;
    }
    .wehorsecontent2{
        grid-template-columns: 100%;
    }
    .wehorsecontent2-content{
        display: inline;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .latestupdate{
        grid-template-columns: auto auto auto auto;
    }
    .latestupdate-icon{
        display: none;
    }
    .latestupdate-morevideo{
        display: none;
    }
    .wehorsecontent3{
        padding-right: 0;
        padding-left: 0;
    }
    .wehorsecontent3-horsenews{
        padding-right: 0;
        padding-left: 0;
    }
    .wehorsecontent3-latesthorsenews{
        display: inline;
    }
    .wehorsecontent3-latesthorsenewsicon{
        display: none;
    }
    .wehorsecontent4{
        display: inline;
        padding-left: 0;
        padding-right: 0;
    }
    .wehorsecontent4-videoicon{
        display: none;
    }
    .tables{
        margin-left: 50px;
    }
    .weschedule-img > img{
        width: 375px;
    }
    .weschedule-container-head{
        padding-right: 0;
        padding-left: 0;
    }
    .weschedule-container{
        padding-right: 0;
        padding-left: 0;
        display: inline;
    }
    .b{
        padding-left: 8%;
    }
    .wehorselivestream{
        display: inline;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .wehorsebettingtips-tip{
        padding-left: 0;
        padding-right: 0;
    }
    .wehorsebettingtips-tipvideo{
        width: 375px;
    }
    .wehorsebettingtips-tipvideo-1{
        display: inline;
    }
    .wehorsebettingtips-b1{
        padding-left: 0;
    }
        .wehorsebettingtips-b1 > img {
            width: 375px;
        }
    .wehorsebettingtips-b2{
        padding-left: 0;
    }
        .wehorsebettingtips-b2 > img {
            width: 375px;
        }
    .wehorsebettingtips-b3{
        padding-left: 0;
    }
        .wehorsebettingtips-b3 > img {
            width: 375px;
        }
    .wehorsebettingtips-guide{
        padding-left: 3%;
        padding-right: 3%;
    }
    .wehorsehorsecard{
        padding-left: 0;
        padding-right: 0;
    }
    .wehorsecard-card{
        display: inline;
    }
    .sa2 > h4{
        font-size: 100%;
    }
    .wc > h4{
        font-size: 100%;
    }
    .wehorsetestimonials{
        display: inline;
        grid-row-gap: 0;
    }
    .wehorsetestimonials-content{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "testi1" "testi2" "testi3";
        grid-row-gap: 20px;
        padding-top: 20px
        
    }
    .wehorsetestimonials-head{
        padding: 0;
    }
    .wehorsetestimonials-head-icon{
        padding: 0;
    }
    .wehorsetestimonials-head-text > h2{
        margin: 0;
        padding-right: 50px;
    }
    .zoomcard{
        background-color: #f9feff;
        box-shadow: 5px 10px 30px #839d91;
        
    }
    .zoomcard:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
        background-color: #79e9b5;
        box-shadow: 5px 10px 30px #79e9b5;
    }
}   

/* @media screen and (width: 414px) { */
@media (min-width:414px) and (max-width:869px){
    html{
        font-size: 1.2em;
    }
    .text {
      font-size: 16px;
    }
    /* .header{
        display: none;
    } */
    .menu{
        overflow: auto;
        white-space: nowrap;
    }
    .announcement{
        grid-template-columns: 35% auto;
    }
    .wehorsecontent2{
        grid-template-columns: 100%;
    }
    .wehorsecontent2-content{
        display: inline;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .latestupdate{
        grid-template-columns: auto auto auto auto;
    }
    .latestupdate-icon{
        display: none;
    }
    .latestupdate-morevideo{
        display: none;
    }
    .wehorsecontent3{
        padding-right: 0;
        padding-left: 0;
    }
    .wehorsecontent3-horsenews{
        padding-right: 0;
        padding-left: 0;
    }
    .wehorsecontent3-latesthorsenews{
        display: inline;
    }
    .wehorsecontent3-latesthorsenewsicon{
        display: none;
    }
    .wehorsecontent4{
        display: inline;
        padding-left: 0;
        padding-right: 0;
    }
    .wehorsecontent4-videoicon{
        display: none;
    }
    .tables{
        margin-left: 20px;
    }
    .weschedule-img > img{
        width: 1px;
    }
    .weschedule-container-head{
        padding-right: 0;
        padding-left: 0;
    }
    .weschedule-container{
        padding-right: 0;
        padding-left: 0;
        display: inline;
    }
    .c{
        padding-left: 8%;
    }
    .wehorselivestream{
        display: inline;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .wehorselivestreamlist-list{
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 5%;
    }
    .wehorselivestreamchannel-list{
        padding-right: 5%;
        padding-left: 5%;
    }

    .wehorsebettingtips-tip{
        padding-left: 0;
        padding-right: 0;
    }
    .wehorsebettingtips-tipvideo{
        /* width: 100%; */
    }
        .wehorsebettingtips-tipvideo > iframe{
            width: 100%;
        }
    .wehorsebettingtips-tipvideo-1{
        display: inline;
    }
    .wehorsebettingtips-b1{
        padding-left: 0;
    }
        .wehorsebettingtips-b1 > img {
            width: 100%;
        }
    .wehorsebettingtips-b2{
        padding-left: 0;
    }
        .wehorsebettingtips-b2 > img {
            width: 100%;
        }
    .wehorsebettingtips-b3{
        padding-left: 0;
    }
        .wehorsebettingtips-b3 > img {
            width: 100%;
        }
    .wehorsebettingtips-guide{
        padding-left: 3%;
        padding-right: 3%;
    }
    .wehorsehorsecard{
        padding-left: 0;
        padding-right: 0;
    }
    .wehorsecard-card{
        display: inline;
    }
    .sa2 > h4{
        font-size: 100%;
    }
    .wc > h4{
        font-size: 100%;
    }
    .wehorsetestimonials{
        display: inline;
        grid-row-gap: 0;
    }
    .wehorsetestimonials-content{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "testi1" "testi2" "testi3";
        grid-row-gap: 20px;
        padding-top: 20px
        
    }
    .wehorsetestimonials-head{
        padding: 0;
    }
    .wehorsetestimonials-head-icon{
        padding: 0;
    }
    .wehorsetestimonials-head-text > h2{
        margin: 0;
        padding-right: 50px;
    }
    .zoomcard{
        background-color: #f9feff;
        box-shadow: 5px 10px 30px #839d91;
        
    }
    .zoomcard:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
        background-color: #79e9b5;
        box-shadow: 5px 10px 30px #79e9b5;
    }
}   